.todo-item-title {
  width: 50%;
}

.todo-item-completed {
  width: 20%;
}

.todo-item-action {
  display: flex;
  width: 30%;
}

.todo-item-action-list {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}

.todo-item-edit {
  padding: 0 10px;
  border-color: darkkhaki;
  background-color: darkkhaki;
  cursor: pointer;
}

.todo-item-done {
  padding: 0 10px;
  color: white;
  border-color: darkgreen;
  background-color: darkgreen;
  cursor: pointer;
}
