.container {
  max-width: 1100px;
  padding: 60px;
}

.todo-item-container {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.todo-item-title {
  width: 50%;
}

.todo-item-completed {
  width: 20%;
}

.todo-item-action {
  display: flex;
  width: 30%;
}

.todo-item-action-list {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}

.todo-item-create-container {
  display: flex;
  justify-content: flex-end;
}

.todo-item-create {
  padding: 0 10px;
  color: white;
  border-color: dodgerblue;
  background-color: dodgerblue;
  cursor: pointer;
}

.todo-item-edit {
  padding: 0 10px;
  border-color: darkkhaki;
  background-color: darkkhaki;
  cursor: pointer;
}

.todo-item-done {
  padding: 0 10px;
  color: white;
  border-color: darkgreen;
  background-color: darkgreen;
  cursor: pointer;
}

.todo-item-un-done {
  padding: 0 10px;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
  cursor: pointer;
}
